* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 10px;
    background: linear-gradient(cadetblue,aquamarine);
}

.principal {
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    border-color: blue;
    border-style: dashed;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-color: blue;
    border-style: dashed;

    width: 100px;
    padding: 10px;
    border-radius: 75px;
}

@media (max-width:800px) {
    .principal {
        font-size: large;
    }
}

@media (max-width:600px) {
    .principal {
        font-size: x-large;
    }
    .imagen {
        width: 200px;
        padding: 15px;
        border-radius: 150px;
    }
}